<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="google-site-verification" content="dybuwzKzz1ziYdTTpm3D-gHl18ObDx793YLIh_KDmy0" />
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="/">Home</a></li>		      
	        		<li><a href="http://bruno.plantier.net">CV</a></li>     
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:bruno@plantier.net">email</a></li>
	        		<li><a href="https://github.com/bplantier">github.com/bplantier</a></li>
				</ul>
			</footer>
		</body>
	</html>
